* {
    font-family: var(--font-family-roboto);
    outline: none;
  }
  
  html,
  body,
  #root {
    height: 100%;
  }
  
 
  
  body {
    border: solid black;
    background-color: #fff;
    margin: 0;
    padding: 0;
  }
  
  label {
    margin: initial;
  }